@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a:visited { 
    text-decoration: none; 
    color: inherit; 
}
/*Mobile*/
@media (min-width: 576px){
body{
    background-color:red;
}
}

/*Tablet*/
@media (min-width: 768px){

}

/*PC*/
@media (min-width: 992px){

    body
/*format*/
{   
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1.4rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;  

    /*font*/
    font-family: 'Quicksand', sans-serif;
    color: #2a1e5c;
    font-size: 12pt;
    font-weight: normal;
    font-style:normal;
    text-align: left;
    line-height: normal;
    text-decoration: none;

    /*background*/
    background-color:rgb(203, 201, 180);


}

/*--------Header */


/*------------Menu de navegación*/
.contenedor__nav
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    width: 100vw;
    height: 78px;
}

.header__nav
{
    display: flex;
    flex-direction: row;
    -moz-box-aling: center;
    align-items: center;
    justify-content: space-between;
    max-width: 780px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    
    
    
    
}

.header__nav--backgrounaa{

    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
    width: 100%;
    max-width: 720px;

    font-size: 18pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18pt;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.header__icon
{
    font-size: 18pt;
}


.header__logo
{
    display: none;
}


.header__nav--background 
{
    background-color: #e9eaea;
    list-style: none;
    display: inline-flex;
    padding:0.5px;

}

/*---------Section*/

.contenedor__main
{
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    padding-top: 1rem;
    
}

.recom
{

    
    display: grid;
    grid-template-areas: 
    "h2 h2 h2 h2"
    "video video video video"
    "img__1 img__2 img__3 img__4"
    "h4__1 h4__2 h4__3 h4__4";
    grid-template-columns:185px 185px 185px 185px;
    grid-template-rows: 50px 420px 200px 20px;
    margin: 0%;
    padding-bottom: 35px;

}
.recom h2
{
    grid-area: h2;
    color: #526a79;
    padding-top: 10px;
    padding-bottom: 10px;
}
.recom video
{
    grid-area: video;
    width: 753px;
    height: 385px;
}
.recom-img__1
{
    grid-area: img__1;
    width: 125px;
    height: 165px;
    
}
.recom-img__2
{
    grid-area: img__2;
    width: 125px;
    height: 165px;
}
.recom-img__3
{
    grid-area: img__3;
    width: 125px;
    height: 165px;
}
.recom-img__4
{
    grid-area: img__4;
    width: 125px;
    height: 165px;
}
.recom-h4__1
{
    grid-area: h4__1;
    font-style: italic;
    font-size: 12pt;
}
.recom-h4__2
{
    grid-area: h4__2;
    font-style: italic;
    font-size: 12pt;
}
.recom-h4__3
{
    grid-area: h4__3;
    font-style: italic;
    font-size: 12pt;
}
.recom-h4__4
{
    grid-area: h4__4;
    font-style: italic;
    font-size: 12pt;
}

.contenedor__sec
{
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    
    
}



/*-------Subscripcion*/

.section__grid
{
    display: grid;
    grid-template-areas: 
    "ti ti ti"
    "st1 st2 st3"
    "c1 c2 c3"
    "c11 c22 c33"
    "c111 c222 c333";
    grid-template-columns:265px 265px 245px;
    grid-template-rows: 50px 30px 35px 25px 25px;
    margin: 0%;
    padding-bottom: 35px;
}

.section__grid--title
{
    grid-area: ti ;
}
.section__grid--subt1
{
    grid-area: st1;
    border-top: double #dddfdf;
    border-bottom: double #dddfdf;
    
}
.section__grid--subt2
{
    grid-area: st2 ;
    border-top: double #dddfdf;
    border-bottom: double #dddfdf;
}
.section__grid--subt3
{
    grid-area: st3 ;
    border-top: double #dddfdf;
    border-bottom: double #dddfdf;
}
.section__grid--cont1
{
    grid-area: c1 ;
    padding-top: 10px;

}
.section__grid--cont2
{
    grid-area: c2 ;
    padding-top: 10px;

}
.section__grid--cont3
{
    grid-area: c3 ;
    padding-top: 10px;

}
.section__grid--cont11
{
    grid-area: c11 ;

}
.section__grid--cont22
{
    grid-area: c22 ;

}
.section__grid--cont33
{
    grid-area: c33 ;

}
.section__grid--cont111
{
    grid-area: c111 ;

}
.section__grid--cont222
{
    grid-area: c222 ;

}
.section__grid--cont333
{
    grid-area: c333 ;

}

.section__padding
{
    padding-bottom: 35px;
}
.section__title
{
    font-size: 18pt;
    font-weight: bold;
    color: #526a79;
    padding-top: 10px;
    padding-bottom: 10px;
}


.section__table
{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    border-collapse: collapse;
    width: 80%;
    
}

.section__table--list
{
    list-style-type:none ;
    list-style-position: inside;
    list-style: none;
    text-decoration: none;
    
}

.section__table--title
{

    color: #2a1e5c;
    font-size: 14pt;
    font-style:normal;
    font-weight:bolder;
    
}

.section__gif
{
    width:815px;
    height:385px;
}
.section__lib--title
{
    font-style: italic;
    font-size: 12pt;
}


/*-------Eventos*/
.contenedor__eventos
{
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    
}

.eve__title
{
    display: none;
}
.eventos
{
    display: grid;
    grid-template-areas: 
    "ti ti ti ti"
    "text text cal cal"
    "text2 text2 cal cal"
    "text3 text3 cal cal";
    grid-template-columns:265px 265px 245px;
    grid-template-rows: 50px 30px 35px 25px 25px;
    margin: 0%;
    padding-bottom: 35px;
}

.eventos__ti
{
    grid-area: ti;
}

.texto
{
    grid-area: text;
    font-size: 11pt;
    width: 60%;
    padding-top: 7.5px;
}
.texto2
{
    grid-area: text2;
    font-size: 11pt;
    width: 60%;
}
.texto3
{
    grid-area: text3;
    font-size: 11pt;
    width: 60%;
}

.calendario
{
    grid-area: cal;
    width: 85%;
}

.calendario h4{
    text-align: center;
    font-size: 15px;
    background: rgb(214, 214, 214);
    margin-bottom: 4px;
    padding: 0;    
}
.calendario ol
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: rgb(214, 214, 214);
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}   

.calendario ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: #dddfdf;
}
.Primer__dia{
    grid-column-start: 3;
}

td
{
    padding: 15px;
}

td img
{
    width: 125px;
    height: 165px;
}


/*-------Footer*/



footer
{
    position: relative;
    float: left;    
    background-color: #cc9fa2;
    color: #e9eaea;
    font-size: 9pt;
    border-top: 4px solid #e9eaea;
    text-decoration: none;
    /*box model*/
    clear: both;

    margin-left: auto;
    margin-right: auto;
    width: 780px;
    padding-left: 14px;
    padding-right: 14px;


}

.footer__icon
{
    width: 250px;
    word-wrap: break-word;
    margin-top: 45px;
    margin: 14px;
    padding-top: 15px;
    padding-left: 50px;
    float: left;
    font-size: 25px;
}

.footer__home
{
    width: 250px;
    margin: 0.1px;
    float: left;
    margin-bottom: 5px;
}

.footer__contacto
{
    float: left;
    font-size: 10pt;
    padding: 14px;
    border-left: 4px double #e9eaea;
}





}





