/* Variables */



/* poner "--" en medio en la hoja de estilo*/

.header__tablet{
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .bkg{
        background-color: #e9eaea;
        :hover{
            background-color: #cc9fa2;
            border-color: #cc9fa2;
            color: #fff;
        }
        :focus{
            background-color: #cc9fa2;
            color: #fff;
        }
    }
    .bkg2{
        background-color: #cc9fa2;
        color: #fff;
    }
    
}

.footer__tablet{
    background-color: #cc9fa2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-box-align: center;
    align-content: center;
    color: #e9eaea;
    .two{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        -moz-box-align: center;
        align-content: center;

    }
}
/* PC */
.contenedor__eventos
    {
        display: flex;
        flex-direction: row;
        -moz-box-align: center;
        align-items: center;
        align-self: center;
        
    }
    .eventos{
        width: 62.6%;
        height: 100%;
    }
    .calendario
    {
        width: 200%;
        height: 100%;
    }
